body {
    font-family: Arial, sans-serif;
    background: #8ad9dc;
}

h1 {
    font-size: 2.2em;
    color: #222;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    text-align: center;

}

p {
    font-size: 1.1em;
    margin: 10px 0 25px;
    text-align: center;
}
a {
    justify-content: center;
    display: flex;
}

form {
    background: white;
    padding: 20px;
    margin: 50px auto;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 5px #aaa;
}

label {
    display: block;
    margin-top: 10px;
}

input,
select {
    width: 90%;
    padding: 8px;
    margin-top: 4px;
}

.error {
    color: red;
}

.ok {
    color: green;
}