
body{
    background-color: antiquewhite;
    font-family:sans-serif; 
    text-align:center;

}

header{
    background-color: burlywood;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}   

h1{
    text-align: center;
    color: brown;
}



img{
    width: 100px;
    height: 150px;
    margin: 5px;

}