form {
    background: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
        

.banderas {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}


.banderas label:hover {
    transform: scale(1.1);
}

.banderas input[type="radio"] {
    display: none;
}


img.bandera {
    width: 100px;
    height: 80px;
    border-radius: 5px;
}
